body {
    background-color: blue;
}

.jumbotron {
    background-color: rgba(238, 20, 20, 0.829);
}

h1 {
font-family: 'Hammersmith One', sans-serif;
font-size: 80px;
color: white;
}

.instructions {
font-family: 'Jura', sans-serif;
font-size: 24px;
color: rgba(221, 243, 22, 0.89);
}

.force {
font-family: 'Jura', sans-serif;
font-size: 20px;
color: orange;

}

.images {
    clear: both;
}

.test {
    border-style: solid;
    border-width: 10px;
    border-color: rgb(16, 240, 16);

}

.mark {
    padding: 0px;
}

#button-1 {
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.versus {
    color: white;
}

.chosenimg {
    margin-left: 100px;
}

.buttondiv {
    text-align: center;
}