body {
    background-color: blue;
    overflow-x: hidden;
    
}

.jumbotron {
    background-color: rgba(238, 20, 20, 0.829);
}

h1 {
font-family: 'Hammersmith One', sans-serif;
font-size: 80px;
color: white;
}

.instructions {
font-family: 'Jura', sans-serif;
font-size: 24px;
color: rgba(221, 243, 22, 0.89);
}

.force {
font-family: 'Jura', sans-serif;
font-size: 20px;
color: orange;

}

.test {
    border-style: solid;
    border-width: 10px;
    border-color: rgb(16, 240, 16);

}

.mark {
    padding: 0px;
}

#button-1 {
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.versus {
    color: white;
    margin-top: 125px;
}



/* .img-container {
    position: relative;
}

.text-block {
    position: absolute;
    top: 10px; 
    left: 10px;
    background-color:red;
    color: white;
}

*/

h4 {
    position: absolute;
    top: 0px; 
    left: 15px;
    background-color: red;
    color: white;
}

.imgc {
    margin-left: 10px;
    margin-top: 5px;
}




/* @media screen and (max-width: 768px) { */



